@font-face {
    font-family: Jaldi-Regular;
    src: url("./../../../public/fonts/Jaldi-Regular.ttf");
}
@font-face {
    font-family: Jaldi-Bold;
    src: url("./../../../public/fonts/Jaldi-Bold.ttf");
}